{% extends "admin/index.html" %}

{% block content %}


<div class=" table-dark table-bordered table-sm th">
  <table class=" table-dark table-bordered table-sm th" id="dataTable" width="100%" cellspacing="0">
    <thead style="text-align: center;background: #1f292d;font-size: 18px;">
      <tr>
        <th>Area Name</th>
        <th>Crossroad Code</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      {%for row in crossroadVOList%}
      <tr>

        <td>{{row[1]['areaName']}}</td>
        <td>{{row[0]['crossroadName']}}</td>

        <td>
          <a href="/admin/editCrossroad?crossroadId={{row[0]['crossroadId']}}"><i class="fa fa-edit"
              style="font-size:20px;color: #88c241;"></i></a>
          <a href="/admin/deleteCrossroad?crossroadId={{row[0]['crossroadId']}}"><i class="fa fa-trash"
              style="font-size:20px;color: #88c241;"></i></a> </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
